language: c

dist: xenial

notifications:
  irc:
    channels:
      - "chat.freenode.net#snowcap"
    on_success: change
    use_notice: true
    skip_join: true

branches:
  only:
    - master

before_install:
  - sudo add-apt-repository universe
  - sudo apt-get update -q
  - sudo apt-get install gcc-4.8 -y gcc-arm-none-eabi device-tree-compiler python3-pyelftools gperf python3-wheel xz-utils file

script: ./test-compile-all.sh
