language: c

dist: xenial

notifications:
  irc:
    channels:
      - "chat.freenode.net#snowcap"
    on_success: change
    use_notice: true
    skip_join: true

branches:
  only:
    - master

env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt COVERITY_SCAN_TOKEN=<token from the coverity project site>
  - secure: "iN8Ri+Hu8MylnovHp0iaKg7EnOlWjoa8JDcs2qN4mISs+IBVp1BB8UtEqVbnZMpTKSO4JV5HxsAADB630gfGvROlW6NqDF8J4xcrs6/blUMYsxGCV1X03scRtuz/8DI60zDZ7kzMElX6BC1AGA5qg4FqbqrbMSDnqdzLwxj2G6nbwQ25sEsFvNv7Ab3WI4OSDVWVAcNLgc8rGt4gSGaIChaE1IByZI7URoZb03XI+ZHhiAyyujII7fdhZ6L7GuGtyRoSSXd1kSWokuQ1Sp6i9302HC84yebI0S9OXP6yV5qnoMa3DAi51AZeSw2QtSF24y/QrSEzex/gljikUxdPViVHwh2S05ZGkNXKgoa810NKyC0ramn1Oc4oeynsKRlSUFiOkqJuuzkfJ6eEAeYNr5yLPjxwu+jRfK6ivMLBpowrD/LDXL03FOkjyaSuKVY5OcyxRsY1bbVSPs4OZT3VJXeNo2F3XIMFLArTIQqeidrjwaKVGXfobefL4qlKvyxR0bJwwcamTYkE174d0KpnWS3h5PPXKG+lkzGVFfAM9VhLabDQhT/8/4Me5GxIY2iPOCwYS0+iarmlC6DOFmEn/iyMj0zijGHTa3MfxT3fIDdIis3rdXkqmRbXCXwHIZJcwo1+SzW+ODcswv3R8mQZWtS3/L67+8JkslYBoAaFyj0="

addons:
  coverity_scan:
    project:
      name: "snowcap-electronics/tsip"
      description: "Zephyr based RTOS multiapp framework"
    notification_email: tuomas@kulve.fi
    build_command_prepend: cov-configure --comptype gcc --compiler arm-none-eabi-gcc --template
    build_command: ./test-compile-all.sh coverity
    branch_pattern: master

before_install:
  - sudo add-apt-repository universe
  - sudo add-apt-repository -y ppa:team-gcc-arm-embedded/ppa
  - sudo apt-get update -q
  - sudo apt-get install gcc-4.8 -y gcc-arm-embedded device-tree-compiler python3-pip python3-setuptools gperf python3-wheel xz-utils file gcc-multilib make gcc autoconf automake libtool
  - pip3 install --upgrade pip
  - pip3 install --user pyelftools
  - pip3 install --user --upgrade cmake

after_failure:
  - cat build/CMakeFiles/CMakeOutput.log
  - cat build/CMakeFiles/CMakeError.log

script: ./test-compile-all.sh
